{% extends "layouts/base.njk" %}

{% block pageTitle %}Dashboard – {{ serviceName }}{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
        Welcome, {{ user.displayName or "there" }}
      </h1>

      <p class="govuk-body-l">
        {% if currentOrg and currentOrg.organisationName %}
          Signed in as <strong>{{ currentOrg.organisationName }}</strong>
        {% else %}
          Signed in as an individual account
        {% endif %}
      </p>

      <p class="govuk-body govuk-!-margin-top-6">
        <a href="/account" class="govuk-link">Manage your account</a>
      </p>

    </div>
  </div>
{% endblock %}
